<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ryanddawkins.gymapp" >

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Gym" >
        <activity
            android:name="com.ryanddawkins.gymapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ryanddawkins.gymapp.activities.DashActivity"
            android:label="@string/title_activity_dash" >
        </activity>

        <activity
            android:name="com.ryanddawkins.gymapp.activities.ExerciseActivity"
            android:label="@string/title_activity_exercises" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ryanddawkins.gymapp.activities.DashActivity" />
        </activity>
        <activity
            android:name="com.ryanddawkins.gymapp.activities.ExerciseEditActivity"
            android:label="@string/title_activity_create_exercise" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ryanddawkins.gymapp.activities.ExerciseActivity" />
        </activity>

        <activity
            android:name="com.ryanddawkins.gymapp.activities.WorkoutActivity"
            android:label="@string/title_activity_workouts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ryanddawkins.gymapp.activities.DashActivity" />
        </activity>
        <activity
            android:name="com.ryanddawkins.gymapp.activities.WorkoutEditActivity"
            android:label="@string/title_activity_create_workout"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ryanddawkins.gymapp.activities.WorkoutActivity" />
        </activity>
        <activity
            android:name="com.ryanddawkins.gymapp.activities.WorkoutSelectExerciseActivity"
            android:label="@string/title_activity_exercises">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ryanddawkins.gymapp.activities.WorkoutEditActivity" />
        </activity>

        <meta-data android:name="DATABASE" android:value="gymapp.db" />
        <meta-data android:name="VERSION" android:value="4" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.ryanddawkins.gymapp" />

    </application>

</manifest>
